body{
    background-color: bisque;
}

h1{
    text-decoration: underline double;
}

label{
    text-decoration: underline solid;
}

input{
    background-color: beige;
}

/*gotta figure out how to make the 8 a circle*/



#ball{
    background-color: black;
    color: darkblue;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    text-align: center;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#answer{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    max-width: 70%;
}

/*
notes
cant make a rectangle round. make it a square first
border-radius: 50%; this turns a square into a circle
font-size: 300%; i ususually use large x large etc, but you can just put a value in
how would i make the white part triangular?
words are in the wrong spot!!!! how to fix?
*/