
*{
   /* border: 2px solid black;*/
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

body{
    background-color: rgb(101, 101, 167);
    color: rgb(77, 15, 134);
}

#title{
    border-bottom: 2px solid rgb(77, 15, 134);
}

#enterinfo{
    border: 5px solid rgb(144, 130, 245);
    color: rgb(77, 15, 134);
    padding: px;
}

#firstname{
    background-color: rgb(208, 199, 243);
}

#favcolor{
    background-color: rgb(208, 199, 243);
}

#birthmonth{
    background-color: rgb(208, 199, 243);
}

#othernames{
    background-color: rgb(208, 199, 243);
}

#tellfortune{
    background-color: rgb(77, 15, 134);
    color: rgb(208, 199, 243);
    font-size: large;
}

#userfortune{
    font-size: large;
   padding: 10px;
    border: 5px solid rgb(77, 15, 134);
    background-color: rgb(208, 199, 243);
}